.env*
*.xls*
celerybeat-schedule
__pycache__/
files/
images/
*.db
*config*
*.log
*.*docx*
venv/
tz/
*.ini
alembic/
*workspace*
test_*.py
.idea/
.vscode/
install_docker.sh
fabfile.py
fabric.json
create_user.py
.devcontainer/
tz.txt
importdb
dumpdb
*.sql
exp_*.py
.cursor/
